In [1]:
import pandas as pd
import numpy as np

In [2]:
import edhec_risk_kit_204 as erk

/Users/Lucas_Hattori/Projects/coursera-portfolio-construction/original_notebooks/edhec_risk_kit_204.py:43: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if filetype is "returns":
/Users/Lucas_Hattori/Projects/coursera-portfolio-construction/original_notebooks/edhec_risk_kit_204.py:46: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif filetype is "nfirms":
/Users/Lucas_Hattori/Projects/coursera-portfolio-construction/original_notebooks/edhec_risk_kit_204.py:49: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif filetype is "size":

# Load data

In [7]:
ind49_rets = erk.get_ind_returns(weighting="vw", n_inds=49)["1974":]
ind49_rets.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
1974-01,0.0229,0.0615,-0.0540,-0.0083,0.0301,0.0899,0.0858,-0.0101,-0.0260,0.0965,...,0.0050,0.0048,0.0552,0.0776,0.0144,0.0014,-0.0162,0.1311,0.0083,0.0102
1974-02,0.1382,0.0140,-0.0236,-0.0174,0.0185,-0.0257,-0.0032,-0.0528,-0.0342,0.0230,...,0.0156,0.0787,0.0239,0.0137,-0.0477,0.0165,-0.0219,-0.0249,0.0129,-0.0100
1974-03,-0.0157,-0.0156,-0.0406,-0.0220,-0.0600,0.0517,0.0361,0.0579,-0.0023,-0.0158,...,-0.0151,-0.0485,0.0159,-0.0452,0.0373,-0.0438,-0.0453,-0.0216,-0.0399,-0.0306
1974-04,-0.0926,-0.0265,-0.0415,-0.0366,-0.0277,-0.0749,-0.0796,-0.0646,-0.0419,-0.0477,...,-0.0269,-0.0393,-0.0194,-0.0206,-0.0296,-0.0510,-0.0919,-0.1227,-0.0684,-0.0535
1974-05,-0.0703,-0.0488,-0.0115,-0.0448,0.0559,0.0238,-0.0089,-0.0133,0.0102,-0.0691,...,-0.0130,-0.0469,-0.0390,0.0220,-0.0305,-0.1089,-0.0882,-0.1146,-0.0998,-0.0677

In [6]:
fff = erk.get_fff_returns()
fff.head()

         Mkt-RF     SMB     HML      RF
1926-07  0.0296 -0.0230 -0.0287  0.0022
1926-08  0.0264 -0.0140  0.0419  0.0025
1926-09  0.0036 -0.0132  0.0001  0.0023
1926-10 -0.0324  0.0004  0.0051  0.0032
1926-11  0.0253 -0.0020 -0.0035  0.0031

# Assignment

In [25]:
industry = "Steel"

In [26]:
df_industry = ind49_rets[[industry]]
df_industry

          Steel
1974-01  0.0491
1974-02  0.0344
1974-03 -0.0266
1974-04  0.0019
1974-05 -0.0888
...         ...
2018-08 -0.0323
2018-09 -0.0067
2018-10 -0.1161
2018-11 -0.0300
2018-12 -0.1478

[540 rows x 1 columns]

In [27]:
import statsmodels.api as sm
import numpy as np
ind49_excess = df_industry["2013":] - fff.loc["2013":, ['RF']].values
mkt_excess = fff.loc["2013":,['Mkt-RF']]
exp_var = mkt_excess.copy()
exp_var["Alpha"] = 1
lm = sm.OLS(ind49_excess, exp_var).fit()

In [28]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Steel   R-squared:                       0.470
Model:                            OLS   Adj. R-squared:                  0.463
Method:                 Least Squares   F-statistic:                     62.18
Date:                Sun, 12 Mar 2023   Prob (F-statistic):           2.97e-11
Time:                        20:33:38   Log-Likelihood:                 116.15
No. Observations:                  72   AIC:                            -228.3
Df Residuals:                      70   BIC:                            -223.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mkt-RF         1.4169      0.180      7.885      0.000       1.059       1.775
Alpha         -0.0098      0.006     -1.627      0.108      -0.022       0.002
==============================================================================
Omnibus:                        7.128   Durbin-Watson:                   2.188
Prob(Omnibus):                  0.028   Jarque-Bera (JB):                6.420
Skew:                           0.635   Prob(JB):                       0.0403
Kurtosis:                       3.727   Cond. No.                         31.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [34]:
lm.params[0]

1.4169446523353812

In [50]:
industry_beta = {}
for industry in ind49_rets.columns:
    df_industry = ind49_rets[[industry]]
    ind49_excess = df_industry["1991":"1993"] - fff.loc["1991":"1993", ['RF']].values
    mkt_excess = fff.loc["1991":"1993":,['Mkt-RF']]
    exp_var = mkt_excess.copy()
    exp_var["Alpha"] = 1
    lm = sm.OLS(ind49_excess, exp_var).fit()

    industry_beta[industry] = lm.params[0]
industry_beta = pd.DataFrame(industry_beta, index=["Beta"]).T

In [52]:
industry_beta.sort_values("Beta").iloc[[0,-1]]

          Beta
Gold -0.553289
Hlth  1.615195

# Second group of questions

In [54]:
fff = erk.get_fff_returns()

In [57]:
exp_var

         Mkt-RF   Value    Size  Alpha
1991-01  0.0469 -0.0184  0.0379      1
1991-02  0.0719 -0.0054  0.0395      1
1991-03  0.0265 -0.0123  0.0389      1
1991-04 -0.0028  0.0142  0.0050      1
1991-05  0.0365 -0.0057 -0.0034      1
...         ...     ...     ...    ...
2018-08  0.0344 -0.0412  0.0123      1
2018-09  0.0006 -0.0134 -0.0237      1
2018-10 -0.0768  0.0341 -0.0468      1
2018-11  0.0169  0.0020 -0.0074      1
2018-12 -0.0955 -0.0151 -0.0261      1

[336 rows x 4 columns]

In [59]:
industry_beta = {}

for industry in ind49_rets.columns:
    df_industry = ind49_rets[[industry]]
    ind49_excess = df_industry["1991":] - fff.loc["1991":, ['RF']].values
    mkt_excess = fff.loc["1991"::,['Mkt-RF']]
    exp_var = mkt_excess.copy()
    exp_var["Value"] = fff.loc["1991":,['HML']]
    exp_var["Size"] = fff.loc["1991":,['SMB']]
    exp_var["Alpha"] = 1
    lm = sm.OLS(ind49_excess, exp_var).fit()

    industry_beta[industry] = {
        "beta":lm.params[0],
        "value":lm.params[1],
        "size":lm.params[2],
        "alpha":lm.params[3],
    }
industry_beta = pd.DataFrame(industry_beta,).T

In [62]:
industry_beta.sort_values("value").iloc[[0,-1]]

           beta     value      size     alpha
Softw  1.255132 -0.852422  0.066100  0.004830
Txtls  1.236172  0.983560  0.535961 -0.005142